/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro";
    box-sizing: border-box;
}

section {
    width: 100vw;
}
/* -------------- Pagina Principal ---------------*/

/* Estilo Header */
header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
   
    padding: 10px 40px;
    position: fixed;
    background-color: white;
    z-index: 10;

}


.header a {
    text-decoration: none;
    color: #686860;
    font-size: 1.2em;
}

.logo {
    font-size: 1.4em;
}

.logo span {
    color: #7297ca;
}

.menu a {
    margin-left: 30px;
    text-transform: uppercase;
}

/*Estilo Conteudo - Section 1*/
.banner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    width: 100vw;
    height: 890px;
    background-image: url(assets/img-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    border-top: 2px solid #0090e6;
}

.banner .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 28%;
    width: 48%;

    background-color: rgba(12, 164, 143, 0.6);
    border: 1px solid white;
    color: white;
}

.banner .container h1 {
    font-size: 4.2rem ;
}

.banner .container p {
    font-size: 2.2rem;
}

/*Estilo Conteudo - titulos & subtitulos*/
.subtitle {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #686860;
    text-align: center;

    height: 200px;
}

.subtitle .conteinerSubtitle h2 , .subtitle .conteinerSubtitle h3 {
    text-transform: uppercase;
    margin: 70px 20px 20px 20px;
    font-weight: 450;
    font-size: 2em;
}

.subtitle .conteinerSubtitle p {
    margin: 15px;
    font-size: 1em;
    font-weight: 500;
}



/*Estilo Conteudo - links quartos */
.linkQuartos {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    
    display: flex;
    justify-content: center;

    margin-top: 20px;
}
.cards-quartos {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    display: flex;
    width: 1024px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards-quartos img {
    width: 320px;
    margin-bottom: 20px;
}

.card-quartos {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 6px;

    border-bottom: 2.5px solid #437870;
}

.card-quartos p {
    margin-bottom: 10px;
}

.cards-quartos a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    display: flex;
    flex: 1 1 0;
    
    text-decoration: none;
    font-size: 1.2rem;
    color: #686860;
    font-weight: 505;
}

/*Estilo Conteudo - iframe */
#route .iframe {
    margin-top: 20px;
    width: 100vw;
}

/*Estilo Conteudo - descrições*/
#descriptions {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
    margin-top: 10px;
    margin-bottom: 50px;
}

#descriptions .conteinerDescription {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


    width: 1024px;
}

#descriptions .description {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    
    width: 490px;
    height: 120px;
    margin: 10px;
}

#descriptions .description div {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

#descriptions .description div h4 {
    color: #4e4442;
    margin-bottom: 15px;
}

#descriptions .description div p {
    color:#665d5b;
    font-weight: 500;
}

#descriptions .description img {
    width: 90px;
    height: 110px;
    object-fit: cover;
}

/*Estilo Rodapé - descrições*/
.footer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    display: flex;
    flex-direction: column;
    justify-content: center;
 
    width: 100vw;

    background-color: #438c71;
    color: white;

    text-align: center;
}

.footer section{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer .contato {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    display: flex;
    justify-content:  space-around;
    flex-wrap: wrap;

    width: 1100px;

    padding-bottom: 30px;

    border-bottom: 2px solid #3b7a63;
}

.footer .contato div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin: 10px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    float: left;
    width: 250px;
}


.footer .contato div a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    display: flex;
    flex-wrap: nowrap;

    margin-right: 30px;
    text-align: left;
    text-decoration: none;
    color: white;
}

.footer .contato div img {
    margin-right: 10px;
}

h5 {
    font-size: 1.4em;
    text-align: left;
}

/*Estilo Rodapé - copyright*/
.footer .copyright {
    font-weight: bold;
}




/* -------------- Pagina Quartos ---------------*/
/*Estilo conteudo */
#rooms {
    margin-bottom: 40px;
}

/*Estilo Conteúdo - sections*/
#rooms section {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Estilo Conteúdo - banner*/
.bannerPaginaQuartos {
    flex-grow: 1;
    
    width: 100vw;
    height: 170px;

    background-image: url(assets/img-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    border-top: 2px solid #0090e6;
}

/*Estilo Conteúdo - Quartos*/
.roomPhotos {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    width: 1024px;
}

.roomPhoto {
    margin: 10px 0 60px 0;
}

.roomPhoto img {
    width: 320px;
    height: 200px;
    margin: 3px;
}

.titleInformation {
    color:#665d5b;
}

.roomInformation {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    display: flex;
    justify-content: center;
    align-items: center;
    
    
    width: 65%;
    margin-top: 30px;
}
.roomInformation ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-wrap: wrap;

    color:#665d5b;
    font-size: 0.9em;
}

.roomInformation div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    display: flex;
    justify-content: center;
}

.roomInformation li {
    width: 200px;
    margin: 5px;
    flex: 1 0 auto;
}

